.content-cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px 100px;
}
.card {
  background-color: var(--text_light);
  border-radius: 10px;
  color: var(--text_med);
  display: flex;
  flex-direction: column;
  width: 150px;
  padding: 20px;
  margin: 10px;
}

.card-title{
  display: flex;
}

.card-title__city-name{
  margin-bottom: 0;
}

.card-title sup{
  padding: 0.2em 0.6em;
  margin-left: 5px;
  border-radius: 30px;
  color: var(--text_light);
  background: var(--orange);
  font-size: 0.5em;
  height: 30%;
  margin-top: 0.5rem;
}

.card-body p{
  display: flex;
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

.card-body sup {
  font-size: 2rem;
}

.card-body__img{
  width: 40%;
}

.card-footer{
  text-transform: uppercase;
}
