/* You can add global styles to this file, and also import other style files */
:root {
  --bg_main: #0a1f44;
  --text_light: #fff;
  --text_med: #53627c;
  --text_dark: #1e2432;
  --red: #ff1e42;
  --darkred: #c3112d;
  --orange: #ff8c00;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg_main);
}

